# Configuration de la base de données MySQL
DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=marsatrack_db
DB_PORT=3306

# Configuration du serveur
PORT=3001

# Sécurité JWT
JWT_SECRET=
JWT_EXPIRES_IN=24h
