VISION_MODEL_PATH=models/container_code_yolo11n_best.pt
VISION_DEVICE=cpu
VISION_YOLO_CONFIDENCE=0.25
VISION_YOLO_IOU=0.45
VISION_CROP_MARGIN_PERCENT=0.04
VISION_OCR_ENABLED=true
VISION_OCR_ENGINE=paddleocr
VISION_FALLBACK_ENABLED=true
VISION_MAX_IMAGE_SIZE_MB=5
